a:link,a:visited{
 background-color: #f44336 ;
   color: white;
   padding: 10px 15px;
   text-align: center;
   text-decoration: none;
   display: inline-block;
   position: relative;
   right: 30px;

}

#bg{
position: relative;
top: 30px;
left: -130px;

}
#pgraph{

position: relative;
top: 18px;
left: -125px;
}

a:active, a:hover{
 text-decoration: none;
    background-color: #b5b5b7 ;
}
header{
 color:blue;
  background-color: #677077 ;
 text-align: center;
 font-size: 40px;
 display:block;
 height:1px;

}
h1{
 position: relative;
color:#f2b632 ;
 top: 10px;
}
nav {
 font-size: 11.5pt;
 color: white;
 background-color: #677077 ;
 display: inline-block;
 vertical-align: top;
 width:125px;
 height: 1500px;
}
section{
 width:640px;
   position: absolute;
   display:inline-block;
   font-size: 14px;
   padding-left: 10px

}
body {
    font-size: 11.5pt;
    color: #5C5B5B ;
    line-height: 1.75em;
    background: #E0DCDC  url(images/img01.gif) repeat-x top left;
 position: relative;
 left:  10px;
}

body,input {
    font-family: Georgia, serif;
}
footer{
 background-color: #252839 ;
 color:white;
}
#picture{
 left: 100px;
 border: 3px solid black;
}
